﻿img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
body {
  padding: 0;
  margin-top: 80px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #3399FF;
  display: table;
  text-align: Center;
}
#navigation li {
  display: table-cell;
  float: left;
  padding: 5px 50px;
  font-family: arial;

}
#navigation li a {
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  display: table-cell;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6em;
  
}
#navigation li a:hover {
  margin-top: 1px;
}
.aboutMe {
  width: 75%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  font-size: 20px;
  color: #14141A;
  }
.smallPicture {
  float: left;
  padding: 20px;
}
.superSmallPic {
  float: left;

}
.title {
  width: 500px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  color: #14141A;
}

img.resize{
    width:220px; /* you can use % */
    height: auto;
    border-radius: 50%;
    float: left;
}
img.smallResize{
    width:45px; /* you can use % */
    height: auto;
    border-radius: 50%;
    float: left;
}

.youTube {
  width:70%;
  height: 310px;
  float: right;
  padding-top: 20px;
  }

#control {
  text-align: center;
  margin: 25px 0;
}

.circles {
  width: 825px;
  margin: 0 auto;
}
.circle {
  color: #14141A;
  background: #3399FF;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /*border-radius: 100px;*/
  position: relative;
  padding: 60px;
  font-weight: bold;
  font-family: arial;
}

.circle.odd {
  color: #14141A;
  background: white;
}
h3 {
  font-family: Arial;
  font-size: large;
  color: #14141A;
}
.tech {
  font-family: Arial;
  font-size: large;
  color: #14141A;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.finance {
  font-family: Arial;
  font-size: large;
  color: #14141A;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion {
	width: 100%;
	border-bottom: solid 1px #c4c4c4;
  margin-left: auto;
  margin-right: auto;
}
.accordion h3 {
  background: #e9e7e7 url(../Images/arrow-square.gif) no-repeat right -51px;
  padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}