#container {  
    width:960px;  
    height:132px;  
    margin:0 auto;  
    background:transparent;  
}  
  
#menuwrap {  
    width:100%;  
    height:63px;  
    position:relative;  
    top:25px;  
    background:transparent repeat-x;  
}  
  
ul#menu {  
    width:535px;  
    height:59px;  
    float:right;  
    margin:0;  
    padding:0;  
    list-style-type:none;  
    background:transparent repeat-x;  
}  
  
ul#menu li {  
    float:left;  
}  
  
ul#menu li a {  
    display: block;  
    height:59px;  
    overflow:hidden;  
    text-indent:-99999px;  
    background:transparent no-repeat;  
}  
  
ul#menu li#home a { background-position:0 0; width:82px; }  
ul#menu li#home a:hover { background-position:0 -59px; width:82px; }  
  
ul#menu li#articles a { background-position:-82px 0; width:89px; }  
ul#menu li#articles a:hover { background-position:-82px -59px; width:89px; }  
  
ul#menu li#videos a { background-position:-170px 0; width:87px; }  
ul#menu li#videos a:hover { background-position:-170px -59px; width:87px; }  
  
ul#menu li#services a { background-position:-256px 0; width:91px; }  
ul#menu li#services a:hover { background-position:-256px -59px; width:91px; }  
  
ul#menu li#about a { background-position:-346px 0; width:84px; }  
ul#menu li#about a:hover { background-position:-346px -59px; width:84px; }  
  
ul#menu li#contact a { background-position:-429px 0; width:102px; }  
ul#menu li#contact a:hover { background-position:-429px -59px; width:102px; } 