
.jimgMenu {
	position:relative;
	margin: 0px 0px 0px 50px;
	padding: 0px;
	width:475px;
	height:200px;
	overflow: hidden;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	position: relative;
	}
	
.jimgMenu ul li {
	width: 95px;
	float: left;
	display: block;
	overflow: hidden;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 200px;
}

.jimgMenu ul li#landscape a {
	background: src="images/finance.jpg" repeat scroll 0%;
  }

.jimgMenu ul li#people a{
	background: src="images/people.jpg" repeat scroll 0%;
}

.jimgMenu ul li#nature a {
	background: src="images/nature.jpg" repeat scroll 0%;
  
}

.jimgMenu ul li#abstract a {
	background: src="images/abstract.jpg" repeat scroll 0%;

}

.jimgMenu ul li#urban a {
	background: src="images/urban.jpg" repeat scroll 0%;
	border-right-style: none;
}

.clear {
	clear: both;
}
